/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
      text-align: center;
      background-image: url('../images/code-2.bmp');
      /*background-repeat: no-repeat;*/
      /*position: absolute;*/
      color: white;
      height: 650px;
      width: 100%;
}

.btn-lg {
  font-size: 36px;
  margin-top: 500px;
}

/*combining css rules.*/
ul.nav, .jumbotron h1 {
  font-family: 'Arvo', serif;
}

ul.nav{
  font-size: 13px;
}

.jumbotron h1{
  margin-top:0px;
  margin-bottom: 50px;
}

.jumbotron p {
  margin-bottom: 30px;
  padding: 0 50px;
  height : 780px;
}

.homepage{
  text-align: center;
}

.homepage h2, .homepage h3{
  color:#e74c3c;
  font-family: 'Arvo', courier, serif;
  text-transform: uppercase;
  font-size:30px;
}


.homepage h3{
  color:#e74c3c;
  font-family: 'Arvo', courier, serif;
  text-transform: uppercase;
}

.homepage a{
  color:#e74c3c;
}

.homepage hr{
    border-color: red;
    margin-top: 14px;
    width: 140px;
}
